.header {
	flex: 0 0 auto;
	padding-top: 20px;
}

.header__wrapper {
	justify-content: space-between;
}

.logo__link {
	position: relative;
	display: block;
	color: $accent-color;
	font-family: $headline-font;
	font-size: 20px;
	&:before {
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: $accent-color;
		transition: .2s all ease;
		transform: scaleX(0);
	}
	&:hover:before {
		transform: scaleX(1);
	}
}


.navigation__list {
	display: flex;
	flex-flow: row wrap;
}

.navigation__item {
	margin-right: 30px;
	font-family: $headline-font;
	font-size: 20px;
	&:last-child {
		margin-right: 0;
		color: red;
	}
}

.navigation__link {
	@extend .logo__link;
	color: rgb(255, 255, 255);
}