.normal-bg {
	background-image: url(../images/bg-spider3000.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-attachment: fixed;
	background-size: 100%;
}

.publications-list__section {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}

.publications-list__item {
	position: relative;
	text-indent: 10px;
	line-height: 24px;
	margin-bottom: 12px;
	background-color: transparent;
	transition: 0.4s all ease;
	transition-delay: .2s;
	&:last-child {
		margin-bottom: 0;
	}
	&:before, &:after {
		content: "";
		transition: 0.4s all ease;
		transition-delay: .2s;
		backface-visibility:hidden;
		position:absolute;
		height: 2px;
		width:0;
		background: $accent-color;
		left:50%;
		transform:translateX(-50%);
	}
	&:before {
		top:-0.25em;
	}
	&:after {
		bottom:-0.25em;
	}
	&:hover:before {
		width:100%;
	}
	&:hover:after {
		width:100%;
	}
	&:hover {
		background-color: black;
	}
}

.publications-list__link {
	display: block;
}