
/*-----------------------------layout----------------------------*/
$container-width: 1180px;

/*-----------------------------colors----------------------------*/
$accent-color: rgb(221, 81, 26);
$background-color: rgba(0, 0, 0, 0.568);

/*-----------------------------fonts----------------------------*/
$headline-font: Montserrat, sans-serif;
$default-font: Alegreya, serif;


/*-----------------------------screen resolutions----------------------------*/
$laptops: 1800px;
$tablets: 1200px;
$phones: 768px;