
/*-----------------------------layout----------------------------*/
// $container-width: 1180px;

/*-----------------------------colors----------------------------*/
$accent-color: rgb(221, 81, 26);
$background-color: rgba(0, 0, 0, 0.568);

/*-----------------------------fonts----------------------------*/
$headline-font: Montserrat, sans-serif;
$default-font: Alegreya, serif;


/*-----------------------------screen resolutions----------------------------*/
$phone-portrait: 320px;
$phone-landscape: 480px;

$tablet-small: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 980px;

$desctop: 1200px;
