extends ../template

block variables
	- var title = "Омелько - Обо мне"

block content
	main.page-content
		.container.page-content__wrapper
			h1.headline Обо мне
			.page-content__section
				h2.headline-additional Краткая биография
				.text Родился в 1983 в городе Уссурийск. С 1983 по 2000г. жил в с. Горнотаёжное Приморского края. С 2000г. по настоящее време проживаю в г. Владивосток.
			.page-content__section
				h2.headline-additional Образование
				.text Закончил среднюю школу с. Каменушка в 2000 году. В 2000-2006 году учился в Дальневосточном Государственном Университете (ныне Дальневосточный Федеральный Университет); в 2005 году получил диплом специалиста с отличием, а в 2006 - диплом магистра наук. В 2006-2009 году обучался в аспирантуре того же университета. В 2009 году успешно защитил кандидатскую диссертацию на тему "Экология и распространение бродячих пауков-герпетобионтов (Arachnida, Aranei) на юге Приморского края".
			.page-content__section
				h2.headline-additional Гранты
				.text Гранты РФФИ:
				ul.page-content__grants-list 
					li.page-content__grants-item.text 11-04-01716-а. Соотношение морфологической иррадиации и экологической специализации у узкоареальных наземных эндемиков
					li.page-content__grants-item.text  11-04-09567-моб_з. Участие в 26-м Европейском арахнологическом конгрессе.
				.text Гранты РФФИ:
				ul.page-content__grants-list 
					li.page-content__grants-item.text МК-6046.2016.4. Биоразнообразие пауков (Arachnida; Aranei) Дальнего Востока