extends ../template

block variables
	- var title = "Омелько - Экспедиции"

block content
	main.page-content
		.container.page-content__wrapper
			h1.headline Экспедиции
			.page-content__section
				.text Хабаровский край:
				ul.about-me__expeditions-list 
					li.about-me__expeditions-item.text гора Ко
				.text Приморский край:
				ul.about-me__expeditions-list
					li.about-me__expeditions-item 
					li.about-me__expeditions-item.text гора Облачная
					li.about-me__expeditions-item.text гора Сестра
					li.about-me__expeditions-item.text гора Туманная
					li.about-me__expeditions-item.text гора Фалаза
					li.about-me__expeditions-item.text Озёрное плато
					li.about-me__expeditions-item.text западное побережье оз. Ханка
					li.about-me__expeditions-item.text юг Хасанского района (окрестности пос. Хасан)
					li.about-me__expeditions-item.text запад Уссурийского района (окрестности с. Кроуновка)
					li.about-me__expeditions-item.text Шкотовский район (окрестности с. Анисимовка)
				.text Экспедиции в дальнее зарубежье:
				ul.about-me__expeditions-list 
					li.about-me__expeditions-item.text Шри-Ланка
					li.about-me__expeditions-item.text Лаос