extends ../template

block variables
	- var title = "Омелько - Экспедиции"

block content
	main.page-content
		.container.page-content__wrapper
			h1.headline Экспедиции
			.page-content__section
				p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis accusantium, dolorum, dolorem dignissimos a aliquam animi excepturi vel aspernatur tenetur cumque totam consectetur corporis laborum. Quae corporis error praesentium nulla natus aliquid quod deleniti. Hic totam repudiandae eaque non obcaecati.
			.page-content__section
				h2.headline-additional Экспедиции на территории России.
				p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis accusantium, dolorum, dolorem dignissimos a aliquam animi excepturi vel aspernatur tenetur cumque totam consectetur corporis laborum. Quae corporis error praesentium nulla natus aliquid quod deleniti. Hic totam repudiandae eaque non obcaecati.
				h3.headline-small Хабаровский край:
				ul.list 
					li.list__item гора Ко
				h3.headline-small Приморский край:
				ul.list 
					li.list__item гора Облачная
					li.list__item гора Сестра
					li.list__item гора Туманная
					li.list__item гора Фалаза
					li.list__item Озёрное плато
					li.list__item западное побережье оз. Ханка
					li.list__item юг Хасанского района (окрестности пос. Хасан)
					li.list__item запад Уссурийского района (окрестности с. Кроуновка)
					li.list__item Шкотовский район (окрестности с. Анисимовка)
			.page-content__section
				h2.headline-additional Экспедиции в дальнее зарубежье.
				p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis accusantium, dolorum, dolorem dignissimos a aliquam animi excepturi vel aspernatur tenetur cumque totam consectetur corporis laborum. Quae corporis error praesentium nulla natus aliquid quod deleniti. Hic totam repudiandae eaque non obcaecati.
				ul.list 
					li.list__item Шри-Ланка
					li.list__item Лаос
