extends ../template

block variables
	- var title = "Омелько - Главная"

block content
	main.page-content.page-content__index
		.about
			.about__name
				| Омелько Михаил
				br
				| Михайлович
			.about__position исследователь
			button.about__btn скачать резюме
