extends ../template

block variables
	- var title = "Омелько - Публикации"

block content
	main.page-content
		.container.page-content__wrapper
			h1.headline Список публикаций по годам
			.page-content__section 
				ul.publications-list
					li.publications-list__section
						h2.headline-additional 2006
						ul.publications-list__year
							li.publications-list__item
								a.publications-list__link.text(href='assets/docs/2006_СамГУХосочная.pdf', target='_blank')
									b.authors Мартыненко А.Б., Омелько М.М., Остапенко К.А., Ли Х.С.  
									| Первые данные по биотопическому рапределению насекомых и паукообразных на морском побережье российского Дальнего Востока // Вестник Самарского государственного университета. Естественнонаучная сер. 2006. № 6/1 (46). С. 246-264.
							li.publications-list__item
								a.publications-list__link.text(href='assets/docs/2006_КурЗаповедное.pdf', target='_blank')
									b.authors Омелько М.М. 
									| Биолого-фаунистический обзор пауков-волков (Aranei, Lycosidae) окрестностей морской биостанции “Заповедное” (Южное Приморье) // Чтения памяти А.И. Куренцова. Владивосток: Дальнаука, 2006. Вып. 17. С. 128-133.
							li.publications-list__item
								a.publications-list__link.text(href='assets/docs/2006_Новосибирск.pdf', target='_blank')
									b.authors Омелько М.М. 
									| Фауна пауков-волков (Aranei, Lycosidae) Южного Приморья // Энтомологические исследования в Северной Азии. Материалы VII Межрегионального совещания энтомологов Сибири и Дальнего Востока (в рамках Сибирской зоологической конференции). 2—24 сентября 2006 г., Новосибирск: СИСЭЖ СО РАН, 2006. С. 119-120.
					li.publications-list__section
						h2.headline-additional 2007
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2007_МОИПСестра.pdf', target='_blank') 
									b.authors Мартыненко А. Б., Омелько М.М., Остапенко К.А. 
									| Особенности высотной            поясности фауны некоторых групп насекомых и паукообразных в условиях бореально-температного экотона на российском Дальнем Востоке // Бюллетень Московского общества испытателей природы. Отд. биол. 2007. Т.112. Вып. 3.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2007_белка.pdf', target='_blank') 
									b.authors Омелько М.М., Омелько А.М., Омелько М.М. (мл.). 
									| Роль маньчжурской белки в возобновлении кедра корейского во вторичных широколиственных лесах Приморья// Лесоведение, 2007, № 4, С. 68-72.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2007_КурХанка2007.pdf', target='_blank') 
									b.authors Омелько М.М. 
									| Пространственное распределение наземных пауков в условиях лесостепи западного побережья оз. Ханка // Чтения памяти Алексея Ивановича Куренцова. Вып. 18, Владивосток: Дальнаука, 2007. С. 66-73.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2007_СъезЭнтСезонные.pdf', target='_blank')
									b.authors Омелько М.М. 
									| Сезонные явления в жизни пауков-волков (Aranei: Lycosidae) юга Приморского края // Проблемы и перспективы общей энтомологии. Тезисы докладов XIII съезда Русского энтомологического общества. Краснодар, 2007. С. 269-270.
							li.publications-list__item
								a.text.publications-list__link(href='#')
									b.authors Омелько М.М., Омелько А.М., Омелько М.М. (младший). 
									| Животный и растительный мир уссурийской тайги. Цветы и бабочки. Весна.- Владивосток: Дальнаука, 2007. – 256 с.
					li.publications-list__section
						h2.headline-additional 2008
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2008_Oz.utotchkiniSmall.pdf', target='_blank') 
									b.authors Marusik U.M., Omelko M.M. 
									| First description of the female of 
									i.latin Ozyptila utotchkini 
									| (Araneae: Thomisidae). Zootaxa 1823, 2008. P. 65-68.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2008_КурСезДинамика.pdf', target='_blank') 
									b.authors Омелько М.М. 
									| Сезонная динамика наземных пауков (Aranei) в Приморcком крае // Чтения памяти Алексея Ивановича Куренцова. Вып. 19, Владивосток: Дальнаука, 2008.С. 117-126.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2008_Alopecosa.pdf', target='_blank') 
									b.authors Omelko М.М., Marusik Y.M.  
									| A survey of the East Palaearctic lycosidae (Aranei). 4. On two somatically similar species of 
									i.latin Alopecosa 
									| from the Russian Far East // Arthropoda Selecta, № 16(4), 2008. P.237-243.
					li.publications-list__section
						h2.headline-additional 2009
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2009_КурОблачная.pdf', target='_blank')
									b.authors Омелько М.М. (мл.). 
									| Высотно-поясное распределение бродячих пауков-герпетобионтов (Arachnida, Aranei) на горе Облачная, Южное Приморье. – Чтения памяти Алексея Ивановича Куренцова. Вып. 20. Владивосток. Дальнаука, 2009.С. 138-146.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2009_ОГУAlopecosa.pdf', target='_blank')
									b.authors Омелько М.М. 
									| Новый для фауны России паук рода 
									i.latin Alopecosa 
									| (Aranei, Lycosidae) из Южного Приморья // Вестник ОГУ, №1, январь 2009. С. 126-127.
					li.publications-list__section
						h2.headline-additional 2010
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2010_PirataPraedo.pdf', target='_blank') 
									b.authors Marusik Y.M.,  Omelko М.М., Koponen S. 
									| A survey of the East Palaearctic lycosidae (Aranei). 5. Taxonomic notes on the easternmost Palaearctic 
									i.latin Pirata
									| species and the genus 
									i.latin Piratosa 
									| Roewer, 1960 // Arthropoda Selecta, № 19(1), 2010. P.29-36.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2010_КурСестра2010.pdf', target='_blank') 
									b.authors Омелько М.М. 
									| Биотопическое и высотно-поясное распределение бродячих пауков-герпетобионотов (Arachnida, Aranei) в южном Приморье на примере горы Cестра. Чтения памяти Алексея Ивановича Куренцова. Вып. 21. Владивосток. Дальнаука, 2010. С. 82-90.
					li.publications-list__section
						h2.headline-additional 2011
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2011_Acantholycosa.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M.  
									| 2011. A survey of East Palaearctic Lycosidae (Araneae). 7. A new species of 
									i.latin Acantholycosa
									|  Dahl, 1908 from the Russian Far East. Zookeys. 79: 1-10.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2011_Orites.pdf', target='_blank') 
									b.authors Marusik Y.M., Omelko M.M., Koponen S.  
									| 2011. On the distribution of 
									i.latin Gnaphosa orites
									| (Araneae; Gnaphosidae) with a note on its southernmost record from Russian Far East // Acta Arachnologica. 60(1): 51-53.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2011_PiratulaOmelko_etal.pdf', target='_blank') 
									b.authors Omelko, M.M., Marusik, Y.M. & Koponen, S. 
									| 2011. A survey of the east Palearctic Lycosidae (Aranei). 8. The genera 
									i.latin Pirata
									|  Sundevall, 1833 and 
									i.latin Piratula
									|  Roewer, 1960 in the Russian Far East. Arthropoda Selecta. 20: 195-232.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2011_ReviewAsianPart.pdf', target='_blank') 
									b.authors Omelko, M.M., Penney. D. 
									|  (2011) Book review: A long-awaited book about spiders from the Asian part of Russia. Zookeys, 154, 89–93.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2011_Titanoeca.pdf', target='_blank')
									b.authors Omelko, M.M.  
									| 2011. Redescription of the poorly known central Asian 
									i.latin Titanoeca lehtineni
									|  Fet, 1986 (Araneae, Titanoecidae). ZooKeys. 144: 81-85.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2011_КурИстория.pdf', target='_blank')
									b.authors Омелько М.М. 
									| 2011. История изучения фауны пауков (Arachnida, Aranei) юга Дальнего Востока России. Чтения памяти Алексея Ивановича Куренцова. 22, 147-158
					li.publications-list__section
						h2.headline-additional 2012
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_AfricanAraneidae.pdf', target='_blank')
									b.authors Šestáková, A., Omelko, M.M.
									|  2012. A new combination expands the range of the African araneid spider 
									i.latin Singafrotypa 
									| (Araneae, Araneidae). ZooKeys. 207: 79–84.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_Amaurobius.pdf', target='_blank')
									b.authors Marusik, Y.M., Ballarin, F., Omelko M.M.
									|  2012. On the spider genus 
									i.latin Amaurobius
									|  (Araneae, Amaurobiidae) in India and Nepal. Zookeys. 168: 55–64.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_Monticola.pdf', target='_blank')
									b.authors Marusik, Y.M., Ballarin, F. & Omelko, M.M.
									|  2012. On the 
									i.latin Pardosa monticola
									| -species group from Iran (Araneae: Lycosidae). Zoology in Middle East. 56: 111-123.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_Ctenidae.pdf', target='_blank')
									b.authors Marusik, Y.M., Zhang, F.  & Omelko, M.M.
									|  2012. A new genus and species of ctenid spiders (Aranei: Ctenidae) from south China. Arthropoda Selecta. 21: 61-66.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_AraneusStrandiellus.pdf', target='_blank')
									b.authors Marusik, Y. M., Šestáková, A., Omelko, M.M.
									|  2012. First description of the male with redescription of the female of 
									i.latin Araneus strandiellus
									|  Charitonov, 1951 (Araneae, Araneidae). ZooKeys. 205: 91–98.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_Cryptothele.pdf', target='_blank')
									b.authors Marusik, Y.M., Omelko, M.M.
									|  2012. Redescription of 
									i.latin Cryptothele alluaudi
									|  Simon, 1893 (Aranei: Cryptothelidae). Arthropoda Selecta, 21(2), 183-186.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_Haplodrassus.pdf', target='_blank')
									b.authors Kovblyuk, M., Kastrygina, Z., Omelko, M.M.
									|  2012. A review of the spider genus 
									i.latin Haplodrassus
									|  Chamberlin, 1922 in Crimea (Ukraine) and adjacent areas (Araneae, Gnaphosidae). ZooKeys. 205: 59-89.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_ReviewFossil.pdf', target='_blank')
									b.authors Marusik, Y.M., Omelko, M.M.
									|  2012. A long-awaited book about fossil arachnids Book review: Dunlop JA, Penney D (2012) Fossil Arachnids. Monograph Series Volume 2. Siri Scientific Press, Manchester, 192 pp. ZooKeys, 183, 85–88.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_ReviewSeichelles.pdf', target='_blank')
									b.authors Omelko. M.M.
									|  2012. Book review: Gerlach J, Marusik Y (Eds) (2010) Arachnida and Myriapoda of the Seychelles islands. Siri Scientific Press, 435 pp. ZooKeys, 182, 109–110.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_CongressAlopecosa.pdf', target='_blank')
									b.authors Omelko M.M., Marusik Y.M.
									|  2012. Two closely related species of 
									i.latin Alopecosa
									|  (Aranei; Lycosidae) from Russian Far East // 27th Europian Arachnological congress. Abstract book. P.112.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012_CongressCybaeus.pdf', target='_blank')
									b.authors Omelko M.M., Marusik Y.M.
									|   2012. Spiders of genus 
									i.latin Cybaeus
									|  L. Koch, 1868 (Aranei; Cybaeidae) in Russian Far East // 27th Europian Arachnological congress. Abstract book. P.111.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2012HaplodrassusPrim.pdf', target='_blank')
									b.authors Omelko M.M., Marusik Y.M.
									|  2012. A review of the 
									i.latin Haplodrassus montanus
									| -group (Aranei: Gnaphosidae) in the East Palaearctic and preliminary grouping of the genus. Arthropoda Selecta. 21 (4): 339-348.
					li.publications-list__section
						h2.headline-additional 2013
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_HaplodrassusCaspius.pdf', target='_blank')
									b.authors Kovblyuk M. M., Kastrygina Z. A., Marusik Y.M., Omelko M.M.
									|  2013. Redescription of the spider 
									i.latin Haplodrassus caspius
									|  Ponomarev and Belosludsev, 2008, with the first description ofr the male (Araneae: Gnaphosidae). Zoology in the Middle East. 59 (1): 66-69.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Sibirocosa1.pdf', target='_blank')
									b.authors Omelko М.М., Marusik Y.M.
									|  2013. A survey of East Palaearctic Lycosidae (Araneae). 9. A revive of 
									i.latin Sibirocosa
									|  with a description of three new species. Zootaxa. 3666 (3): 319-330.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013Gnaphosa.pdf', target='_blank')
									b.authors Fomichev A.A., Marusik Y.M., Omelko M.M.
									|  2013. A new species of 
									i.latin Gnaphosa
									|  Latreille, 1804 (Aranei: Gnaphosidae) from Western Mongolia. Artropoda Selecta. 22 (2): 153-156.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Куренцовские_Горы.pdf', target='_blank')
									b.authors Омелько М.М.
									|  2013. Высокогорная фауна пауков-волков (Aranei: Lycosidae) юга Дальнего Востока России. Чтения памяти Алексея Ивановича Куренцова. Вып. XXIV. – Владивосток: Дальнаука. С.101-106.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013 Three Pardosa ZootaxaS.pdf', target='_blank')
									b.authors Marusik Y.M., Nadolny A.A. & Omelko M.M.
									|  2013. A survey of East Palaearctic Lycosidae (Araneae). 10. Three new 
									i.latin Pardosa
									|  species from the mountains of Central Asia. Zootaxa. 3722(2): 204–218
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013Alopecosa.pdf', target='_blank')
									b.authors Omelko M.M., Marusik Y.M., Koponen S.
									|  2013. A new species of 
									i.latin Alopecosa
									|  Simon (Araneae, Lycosidae) from Sakhalin Island. Acta Zootaxonomica Sinica. 38(2): 267-271
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Zelotes.pdf', target='_blank')
									b.authors Marusik Yu.M., Zontein S.L. and Omelko M.M.
									|  2013. First description of the male of 
									i.latin Zelotes haifaensis
									|  Levy, 2009 (Aranei: Gnaphosidae). Arthropoda Selecta. 22(3): 255-258
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Hygrocratus.pdf', target='_blank')
									b.authors Kunt K.B., MarusikYu.M., Omelko M.M.
									|  2013. A review of the genus 
									i.latin Hygrocrates
									|  with a description of a new species from Turkey (Araneae: Dysderidae). Acta Zoologica Bulgarica. 65(2): 273-277.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Cryptothele.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M.
									|  2013. First description of the male of 
									i.latin Cryptothele verrucosa 
									| L. Koch, 1872 (Araneae), the type species of the genus. ZooKeys.  351: 31-36.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Pterotricha.pdf', target='_blank')
									b.authors Marusik Yu.M., Omelko M.M. and Koponen S.
									|  2013. Redescription of 
									i.latin Pterotricha loeffleri
									|  (Roewer, 1955) (Aranei: Gnaphosidae: Gnaphosinae). Arthropoda Selecta. 22 (4): 349-352
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Koryakia.pdf', target='_blank')
									b.authors Marusik Yu.M., Omelko M.M. and Ryabukhin A.S.
									|  2013. New data on spiders (Aranei) from eastern Koryakia, Kamchatka Peninsula. Arthropoda Selecta 22 (4): 363-377
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013_Drassylus.pdf', target='_blank')
									b.authors Mikhail M. Omelko Yuri M. Marusik & Byung-Woo Kim.
									|  2013. Redescription of East Palaearctic ground spider 
									i.latin Drassyllus biglobus
									|  Paik, 1986 (Araneae: Gnaphosidae). Zootaxa. 3686 (2): 297–300
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2013 Borboropactus.pdf', target='_blank')
									b.authors Yuri M. Marusik, Mikhail M. Omelko & Suresh P. Benjamin.
									|  2013. The first description of adult female of 
									i.latin Borboropactus asper
									|  (O. P.-Cambridge, 1884) from Sri Lanka (Araneae: Thomisidae). Zootaxa. 3737 (2): 197–200
					li.publications-list__section
						h2.headline-additional 2014
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Lathys.pdf', target='_blank')
									b.authors Kovblyuk, M. M., Z. A. Kastrygina & M. M. Omelko.
									|  2014. New 
									i.latin Lathys
									|  Simon, 1884 species from Crimea (Aranei: Dictynidae). Arthropoda Selecta. 23 (2): 195-198.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Iran_Caves.pdf', target='_blank')
									b.authors Marusik, Y.M., Nadimi, A., Omelko, M.M., Koponen, S.
									|  2014. First data about cave spiders (Arachnida: Araneae) from Iran. Zoology in the Middle East. 60 (3): 255-266.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014 Berlandina original.pdf', target='_blank')
									b.authors Marusik, Y.M., Fomichev, A.A., Omelko, M.M.
									|  2014. A survey of East Palaearctic Gnaphosidae (Araneae). 1. On the 
									i.latin Berlandina
									|  Dalmas, 1922 (Gnaphosinae) from Mongolia and adjacent regions. Zootaxa. 3827 (2): 187–213.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Xysticus.pdf', target='_blank')
									b.authors Marusik, Y.M., Omelko, M.M.
									|  2014. Reconsideration of 
									i.latin Xysticus
									|  species described by Ehrenfried Schenkel from Mongolia and China in 1963 (Araneae: Thomisidae). Zootaxa. 3861 (3): 275–289.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_ Khab.pdf', target='_blank')
									b.authors Omelko, M.M., Marusik, Y.M.
									|  2014. New data on spiders (Aranei) from southern part of the Khabarovsk Province. Arthropoda Selecta. 23 (3): 311-318.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Diphya.pdf', target='_blank')
									b.authors Yu, H., Zhang, F., Omelko, M.M.
									|  2014. A new species of 
									i.latin Diphya 
									|  Nicolet 1849 and the first description of the female of D. tanasevitchi from northern China (Araneae: Tetragnathidae: Metinae). Acta Arachnologica. 63(1): 31-35.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Gnaphosa_Mongolia.pdf', target='_blank')
									b.authors Marusik, Y.M., Fomichev, A.A., Omelko, M.M.
									|  2014. A survey of east palaearctic gnaphosidae (Araneae). 2. Two new 
									i.latin Gnaphosa
									|  latreille, 1804 species from Western Mongolia. ZooKeys. 426: 1-9.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Nigra.compressed.pdf', target='_blank')
									b.authors Kronestedt, T., Marusik, Y.M., Omelko, M.M.
									|  2014. Studies on species of Holarctic 
									i.latin Pardosa
									|  groups (Araneae, Lycosidae). VIII. The Palearctic species of the Pardosa nigra group. Zootaxa. 3894 (1): 033–060.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Larinioides.pdf', target='_blank')
									b.authors Šestáková, A., Marusik, Y.M., Omelko, M.M.
									|  2014. A revision of the Holarctic genus 
									i.latin Larinioides
									|  Caporiacco, 1934 (Araneae: Araneidae). Zootaxa. 3894 (1): 061–082.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_Gnaphosa.compressed.pdf', target='_blank')
									b.authors Marusik, Y.M., Omelko, M.M.
									|  2014. A survey of East Palaearctic Gnaphosidae (Araneae). 3. On new and poorly known 
									i.latin Gnaphosa
									|  Latreille, 1804. Zootaxa. 3894 (1): 010–032.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2014_ Pakistan India.pdf', target='_blank')
									b.authors Marusik, Y.M., Ballarin, F., Omelko, M.M., Koponen, S.
									|  2014. On new and interesting records of spiders from northern Pakistan and India (Aranei). Arthropoda Selecta. 23 (4): 415-424.
					li.publications-list__section
						h2.headline-additional 2015
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Araneidae.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M., Simonov P.S., Koponen S.
									|  2015. New data about orb-weaving spiders (Aranei: Araneidae and Tetragnathidae) from the Russian Far East. Arthropoda Selecta. 24(2): 207-214.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Notes.pdf', target='_blank')
									b.authors Marusik Y.M., Mikhailov K.G., Omelko M.M.
									|  2015. Taxonomic notes on spiders (Arachnida: Aranei) of the Russian Far East. Arthropoda Selecta. 24(1): 117-124.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Oecobius.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M., Koponen S.
									|  2015. Redescription of 
									i.latin Oecobius tadzhikus
									|  Andreeva et Tyshchenko, 1969 (Aranei: Oecobiidae). Arthropoda Selecta. 24(2): 197-200.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Amaurobius rufipes.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M.
									|  2015. Redescription of 
									i.latin "Amaurobius" rufipes
									|  Taczanowski, 1874 (Araneae: Corinnidae) with notes of Amaurobius species described from French Guyana. Zootaxa. 3974 (1): 148–150.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_КурОстрова.pdf', target='_blank')
									b.authors Комиссаренко А.А., Омелько М.М.
									|  2015. К фауне пауков (Arachnida: Aranei) островов залива Петра Великого (Приморский край). Чтения памяти Алексея Ивановича Куренцова. Вып. 26, Владивосток: Дальнаука. С. 72-75.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_NewGenera.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M., Koponen S.
									|  2015. A survey of East Palaearctic Lycosidae (Araneae). 11. Two new genera from the 
									i.latin Acantholycosa
									|  complex. Zootaxa. 3985 (2): 252–26452–264.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Myrmecyum.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M., Koponen S.
									|  2015. A redescription of the ant mimicking spider 
									i.latin Myrmecium gounellei
									|  (Araneae: Corinnidae, Castianeirinae), with notes on the genus. Zootaxa. 3985 (2): 296–300.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Pachignatha.pdf', target='_blank')
									b.authors Marusik Y.M., Azarkina G.N., Omelko M.M.
									|  2015. Redescription and a new synonym of the spider 
									i.latin Pachygnatha amurensis
									|  Strand, 1907 (Araneae, Tetragnathidae, Tetragnathinae). Zootaxa. 4007 (1): 126–130.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Zonstein et al. New data Israel.pdf', target='_blank')
									b.authors Zonstein S.L., Marusik Y.M., & Omelko M.M.
									|  2015. A survey of spider taxa new to Israel (Arachnida: Araneae). Zoology in the Middle East. 61 (4): 372-385.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Phrurolithus.pdf', target='_blank')
									b.authors Zonstein S.L., Marusik Y.M., & Omelko M.M.
									|  2015. Redescription of 
									i.latin Phrurolithus flavipes
									|  (Araneae: Phrurolithidae), with the first description of the male. Zootaxa. 4020 (1):197-200.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2015_Nesticus.pdf', target='_blank')
									b.authors Marusik, Y.M., Omelko, M.M. & Koponen, S.
									|  2015. Redescription of 
									i.latin "Nesticus" citrinus
									|  (Taczanowski, 1874) (Araneae, Araneoidea) from French Guyana. ZooKeys. 537: 97-101.
					li.publications-list__section
						h2.headline-additional 2016
						ul.publications-list__year
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016 Dia.pdf', target='_blank')
									b.authors Zonstein S.L., Marusik Y.M., & Omelko M.M.
									|  2016. Redescription of the type species of 
									i.latin Diaphorocellus
									|  Simon, 1893 (Araneae, Palpimanidae, Chediminae). Africa Invertebrates 57(2): 93–103.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016 Koponeni.pdf', target='_blank')
									b.authors Nadolny, A.A., Omelko, M.M., Marusik, Y.M. & Blagoev, G.
									|  2016. A new species of spider belonging to the 
									i.latin Pardosa lugubris
									| -group (Araneae: Lycosidae) from Far East Asia. Zootaxa. 4072(2): 263-281.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016_ Valeriae.pdf', target='_blank')
									b.authors Omelko, M.M., Komisarenko A.A., Marusik, Y.M.
									|  2016. A new species of 
									i.latin Acantholycosa
									|  Dahl, 1908 (Araneae: Lycosidae) from the Russian Far East. Zootaxa. 4072 (5): 596-600.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016_Bifurcia.pdf', target='_blank')
									b.authors Marusik Y.M., Omelko M.M. & Koponen S.
									|  2016. Two new 
									i.latin Bifurcia
									|  species (Aranei: Linyphiidae: Micronetinae) from Far East Russia. Arthropoda Selecta. 25 (1): 77-83.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016_Draposa.pdf', target='_blank')
									b.authors Marusik, Y. M. & Omelko, M. M.
									|  M. 2016. Redescription of 
									i.latin Draposa subhadrae
									|  (Patel & Reddy, 1993) (Araneae: Lycosidae, Pardosinae). Zootaxa. 4107(1): 89-92.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016_T1.pdf', target='_blank')
									b.authors Marusik, Y.M., Omelko, M.M. & Koponen, S.
									|  2016. Rare and new for the fauna of the Russian far East spiders (Aranei). Far Eastern Entomologist. 317: 1-15.
							li.publications-list__item
								a.text.publications-list__link(href='assets/docs/2016_Tricalamus (1).pdf', target='_blank')
									b.authors Zonstein S.L., Marusik Y.M., & Omelko M.M.
									|  2016. A redescription of the type species of 
									i.latin Tricalamus
									|  Wang 1987 (Aranei, Filistatidae). Zoologicheskii zhurnal. 95(5): 540-544.
