header.header 
	.container
		nav.navigation
			ul.navigation__list
				li.navigation__item
					a.navigation__item(href="#") Обо мне
				li.navigation__item
					a.navigation__item(href="#") Список публикаций
				li.navigation__item
					a.navigation__item(href="#") Контакты