.text {
	font-size: 23px;
	color: white;
	font-family: $default-font;
	text-indent: 10px;
	margin-bottom: 6px;
}

.headline {
	font-family: $headline-font;
	font-size: 36px;
	color: white;
	margin-bottom: 20px;
}

.headline-additional {
	font-family: $headline-font;
	text-align: left;
	font-size: 24px;
	color: white;
	margin-bottom: 5px;
	text-indent: 70px;
}

.headline-small {
	font-family: $headline-font;
	text-align: left;
	font-size: 20px;
	color: white;
	margin-bottom: 5px;
	// text-indent: 70px;
}